#loader{
  position: fixed;
  top: 50%;
  left: 47%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #loader {
    left: 30%;
  }
}

.loader{
    font-size: 48px;
    color: #666;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
  }
  .loader:after{
    content: 'Loading';
    position: relative;
    z-index: 5;
  }
  .loader:before{
    content: '';
    height: 6px;
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(#FF3D00 100%, transparent 0) no-repeat;
    background-size: 0% auto;
    animation: 1.05s lineGrow linear infinite;
  }

  @keyframes lineGrow {to {  background-size: 100% auto}}