#footer {
    padding-block: 7rem;
    background: #f8f9fa;
}

#footer .container {
    display: flex;
    align-items: flex-start;
}

.follow{
    width: 50%;
    text-align: center;
}

.address {
    width: 50%;
    text-align: center;
}

.follow h1, .address h1 {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.follow a, .address p {
    color: #666;
    font-size: 16px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 992px) {
    #footer {
        padding-block: 4rem;
    }

}

@media (max-width: 768px) {
    #footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .follow h1, .address h1 {
        font-size: 1.2rem;
    }
  }